/* THIS CSS STYLE IS FOR LOG-IN AND FORM */
/* Set body padding and background color */
body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
  box-sizing: border-box;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.sign-in-form {
  padding: 1rem 1.5em;
  border-radius: .5rem;
  background-color:#1779ba;
  border: 1px solid whitesmoke;
  border-color: #adadad;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  text-decoration: black;
}

.sign-in-form h4 {
  color: white;
  margin-bottom: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.sign-in-form label {
  text-transform: uppercase;
  color: #adadad;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.sign-in-form input {
  color: rgb(0, 0, 0);
}

.sign-in-form input:focus {
  opacity: .8;
}

.sign-in-form-username,
.sign-in-form-password {
  border-radius: 30px;
  border: none;
  opacity: .1;
  transition: all ease .4s;
}

.sign-in-form-button {
  border-radius: 30px;
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
  padding: 1rem;
  transition: all ease .4s;
}

.sign-in-form-button:hover {
  background-color: #44c8ed;
  border-color: #44c8ed;
}

/* Style for the sign-in form
.form-signin {
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-signin .form-signin-heading,
.form-signin .sr-only {
  margin-bottom: 10px;
}

/* Style for form controls
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

/* Style for email input
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/* Style for password input
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Style for labels
.form-signin label {
  display: inline-block;
  margin-bottom: 5px;
}

/* Style for buttons
.btn {
  display: block;
  width: 100%;
  height: 50px;
  
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
}

aside {

  display: none;
}

